@model PagedList<WebUI.Areas.Admin.Controllers.analysisController.PapersInfos>
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "问卷分析-";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">后台首页</li>
    <li class="breadcrumb-item active">问卷分析</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <span><i class="fa fa-align-justify "></i> 问卷列表</span>
                    </div>

                    <div class="card-block text-center">
                        <table class="table table-bordered table-striped table-condensed text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">问卷标题</th>
                                    <th class="text-center">投票统计</th>
                                    <th class="text-center">问卷评论</th>
                                    <th class="text-center">评论点赞</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.PapersTitle</td>
                                            <td><a href="@Url.Action("vote", "analysis", new { id = item.PapersId })">查看投票</a></td>
                                            <td><a href="@Url.Action("comment", "analysis", new { id = item.PapersId })">最新评论</a></td>
                                            <td><a href="@Url.Action("laud", "analysis", new { id = item.PapersId })">查看点赞</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <nav>
                            @Html.Pager(
                            Model,
                            new PagerOptions
                            {
                                PageIndexParameterName = "pagination",
                                NumericPagerItemCount = 5,
                                ContainerTagName = "ul",
                                CssClass = "pagination",
                                CurrentPagerItemTemplate = "<li class='page-item active'><a class=\"page-link\" href=\"#\">{0}</a></li>",
                                DisabledPagerItemTemplate = "<li class=\"page-item\"><a class=\"page-link\">{0}</a></li>",
                                PagerItemTemplate = "<li>{0}</li>",
                                PageIndexBoxId = "pageIndexBox",
                                AutoHide = false,
                                FirstPageText = "首页",
                                LastPageText = "尾页",
                                PrevPageText = "上一页",
                                NextPageText = "下一页"
                            })
                        </nav>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</div>
